<mat-form-field
  appearance="fill"
  [ngClass]="{'invalid-form-field': error_message}"
  [color]="error_message? 'warn' : 'primary'"
  #tooltip="matTooltip"
  [matTooltip]="error_message || place_holder"
  matTooltipPosition="right"
  [matTooltipClass]="{'invalid-matToolTip': error_message != null}"
>
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <ng-container *ngIf="!option_list; else selectField">
    <input
    matInput
      (input)="onChange(user_input)"
      [disabled]="disabled"
      [required]="required"
      [type]="input_type"
      [(ngModel)]="user_input"
    >
  </ng-container>
  <ng-template #selectField>
    <mat-select
      name="op"
      (selectionChange)="onChange(user_input);"
      [disabled]="disabled"
      [required]="required"
      [(ngModel)]="user_input"
    >
      <mat-option
        [value]="op.value || op"
        *ngFor="let op of option_list"
      >
        {{ op.translate_key? (op.translate_key | translate) : (op.label || op) }}
      </mat-option>
    </mat-select>
  </ng-template>
  <mat-icon class="material-symbols-outlined" matSuffix *ngIf="icon">{{ icon }}</mat-icon>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error>{{ error_message }}</mat-error>
</mat-form-field>