<div class="d-flex flex-column justify-content-start align-items-center w-100 h-100">
  <mat-nav-list class="px-1">
    <a mat-list-item class="rounded-pill shadow-sm"
      [routerLink]="['/simple-interest']"
    >
      <mat-icon matListItemIcon class="fw-bold text-dark">schedule</mat-icon>
      <span matListItemTitle class="fw-bold">Interés Simple</span>
    </a>
  </mat-nav-list>
  <div class="flex-fill"></div>

  <!-- FOOTER -->
  <mat-divider class="w-100"></mat-divider>
  <div class="d-flex flex-column align-items-center my-2">
    <div class="d-flex align-items-center justify-content-center w-100 p-2">
      <img class="float-left" alt="Escudo UNSAAC" src="./../../../assets/img/escudo.png" width="65%">
      <div clas="d-flex flex-column">
        <div class="text-center fw-bold">Universidad Nacional de San Antonio Abad del Cusco</div>
      </div>
    </div>
    <mat-divider class="w-75"></mat-divider>
    <div class="text-center fw-bold">Semestre 2023-II</div>
  </div>
</div>